.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  ul {
    list-style: none;
    display: flex;
    li {
      padding-right: 10px;
    }
  }
  a {
    color: white;
    &.active {
      color: red;
    }
  }
  .logo {
    margin-right: auto;
  }
  .button-box {
    display: flex;
    flex-direction: column;
    button {
      width: 100px;
      border-radius: 50%;
      height: 100px;
      &.login {
        margin-bottom: -60px;
        &:hover {
          z-index: 10;
        }
      }
    }
  }
}
