.header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 15px;
  ul {
    list-style: none;
    display: flex;
    li {
      padding-right: 20px;
      a {
        display: block;
        margin: auto;
      }
    }
  }
  a {
    color: white;
    font-size: 15px;
    &.active {
      color: rgb(125, 65, 169);
    }
  }
  .logo {
    margin-right: auto;
  }
  .btn {
    width: 67px;
    background: rgb(111, 51, 155);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: inset 70px 0 rgb(125, 65, 169);
    }
  }
}
